h1, h2, h3, h4, h5, h6 {
	font-family: 'Poiret One', cursive;
}

h1 {
	font-size: 2.5em;
	color: #424242;
}

h2 {
	font-size: 1.9em;
	color: #540000;
	text-shadow: 1px 1px 3px #A6A6A6;
	padding: 0;
	margin: 1% auto 1% 13.3%;
	text-align: left;
}

h3 {
	font-size: 1.6em;
	color: #540000;
	text-shadow: 1px 1px 3px #BDBDBD;
}

h5 {
	font-size: 1.3em;
	margin: 0;
}

h6 {
	font-size: 1em;
	margin: 0;
}

a {
	font-family: 'Cinzel', serif;
	color: #424242;
	text-decoration: none;
}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.17em;
	text-align: justify;
	margin: 0;
}

section {
	width: 100%;
	height: 100%;
}

table {
	width: 75%;
	margin: 1% auto;
}

td {
	position: relative;
}

.background {
	width: 100%;
	height: 100%;
	padding: 2% 0;
	background-position: center bottom;
	background-repeat: none;
	background-size: cover;
}

.content-container {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.content {
	position: relative;
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.hidden {
	display: none;
}

.dim-bkgnd {
	opacity: .5;
}


/* Navigation Styles */

nav {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	display: table;
	background-color: rgba(225, 227, 237, 1);
}

a li {
	font-size: 0.6em;
}

nav ul {
	display: table-cell;
	padding: .5% 4% .5%;
	text-align: right;
}

nav li {
	display: inline;
}

nav li:before {
	color: #C4C6CF;
	content: " | ";
	margin: 0 .7%;
}

nav li:first-child:before {
	content: '';
}

li a:hover {
	color: #850000;
	font-weight: 700;
	padding-top: 1.3%;
	border-top: 2px solid #850000;
}

nav .nav-logo {
	padding: .5% 0 .5% 4%;
}

.nav-logo img {
	width: 35px;
	height: 35px;
	vertical-align: middle;
	margin-left: 2%;
}

.nav-logo h3 {
	display: inline;
	vertical-align: middle;
	padding: 0 3%;
}

.nav-logo {
	position: relative;
	display: table-cell;
}


/* Intro Section Styles */

#intro h1 {
	color: #EDEBE1;
	text-shadow: 2px 2px 4px #000;
	margin: 34% 0;
}

#intro .background {
	background-image: url('img/ERhodesFortTryonGWBridge_cropped.jpg');
		background-attachment: fixed;
}

/* About Section Styles */

#about h2 {
	display: inline-block;
	float: left;
	text-shadow: 1px 1px 3px #969696;
}

#about p {
	display: inline-block;
	width: 48%;
	color: #2C2D33;
	padding: 2.5% 0;
}

#about .background {
	background-color: #C4C6CF;
	background-attachment: fixed;
}

/* Portfolio Sections Style */

.project-info p {
	font-family: 'Old Standard TT', serif;
	font-size: .9em;
}

.project-info {
	/*position: absolute;*/
/*	margin: 3% 5%;
	padding-bottom: 1%;*/
	margin: auto;
	text-shadow: 2px 2px 4px #000;
	color: white;
}

.picture {
	width: 90%;
	height: auto;
	background-position: center bottom;
	background-repeat: none;
	background-size: cover;
	margin: 3% 0;
}

/* Web Portfolio Styles */

#web-portfolio .project-info p {
	margin: 4% 10%;
	font-size: 1em;
}

#web-portfolio .project-info p {
	padding: 1% 6%;
	font-size: 1em;
}

#web-portfolio .background {
	background-image: url('img/web_pale_yellow4.jpg');
	background-color: #FFFFFA;
}

#web-portfolio .picture {
	padding: .2%;
	background-color: rgba(44, 45, 51, .8);
	box-shadow: 1px 1px 4px #2C2D33;
	border-radius: 1%;
}

.project-info h5 {
	padding: 1% 2%;
	text-align: left;
}


/* Sound Porfolio Styles */

#sound-portfolio h2 {
	display: inline-block;
	float: left;
	color: #BDBDBD;
	margin: 1% auto 1% 12.5%;
	padding: 0 .5% .5% .5%;
	text-shadow: 1px 1px 3px #858585;
	border-bottom: 2px solid rgba(133, 0, 0, .3);
}

#sound-portfolio .background {
	background-color: #2C2D33;
}

#sound-bar {
	display: inline-block;
	float: right;
	width: 48%;
	border-bottom: 2px solid rgba(250, 255, 252, .3);
	margin: 8% 8% 2% 0;
}

#sound-bar img {
	width: 8%;
	margin: 0 .5%;
	box-shadow: 1px -1px 4px rgba(0, 255, 89, .2);
	border: 1px solid rgba(0, 255, 89, .4);
}

.press-clips {
	position: absolute;
	bottom: 4%;
	width: 27%;
	height: 80%;
	margin: 0 0 0 10.5%;
	background-color: rgba(70, 70, 74, .3);
	border-radius: 3%;
	vertical-align: bottom;
}

.logo {
	position: absolute;
	left: 20%;
	top: 5%;
	width: auto;
	height: 90%;
	background-position: center bottom;
	background-repeat: none;
	background-size: cover;
	opacity: .5;
}

#sound-portfolio .project-info {
	width: 95%;
}

.project-info h6 {
	padding: 5% 0 1.5% 0;
}

#sound-portfolio .project-info p {
	padding: 1.5% 5%;
	font-size: .9em;
}

#sound-portfolio .picture {
	padding: 1% .2%;
	background-color: rgba(255, 255, 250, .3);
	box-shadow: 1px 1px 4px #FFFFFA;
	border-radius: 3%;
}


/* Contact Section Styles */

#contact h2 {
	text-align: center;
	margin: 1% 0;
	padding: 0;
}

#contact .background {
	background-color: #EDEBE1;
	padding: 2% 0;
}

#contact .contact-buttons {
	margin-bottom: 2.5%;
}